params {
    manifest_pos  = null
    manifest_neg  = null
    params_pos    = null
    params_neg    = null
    tool_name     = 'msdial-console'
    outdir        = 'results'
    msdial_binary = '/hpc/mydata/anthony.goering/opt/msdial4/MsdialConsoleApp'
}

process {
    withLabel: 'process_high' {
        cpus   = 16
        memory = '64.GB'
        time   = '12.h'
    }
    withLabel: 'process_low' {
        cpus   = 2
        memory = '4.GB'
        time   = '1.h'
    }
}

profiles {

    standard {
        // Local HPC: bare-metal SLURM, no container
        process.executor    = 'slurm'
        process.queue       = 'cpu'
        apptainer.enabled   = false
    }

    apptainer {
        // Local HPC with Apptainer container
        process.executor    = 'slurm'
        process.queue       = 'cpu'
        apptainer.enabled   = true
        apptainer.autoMounts = true
        process.container   = "${projectDir}/containers/msdial-console.sif"
        params.msdial_binary = '/opt/msdial/MsdialConsoleApp'
    }

    aws {
        // AWS ParallelCluster: SLURM + Apptainer container
        process.executor    = 'slurm'
        process.queue       = 'compute'
        apptainer.enabled   = true
        apptainer.autoMounts = true
        process.container   = "${projectDir}/containers/msdial-console.sif"
        params.msdial_binary = '/opt/msdial/MsdialConsoleApp'
    }

    local {
        // Head-node testing, no SLURM
        process.executor    = 'local'
        apptainer.enabled   = false
    }
}

manifest {
    name            = 'msdial-console-pipeline'
    author          = 'Anthony Goering'
    description     = 'LC-MS metabolomics feature detection with MS-DIAL Console'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1.0'
}

report {
    enabled = true
    file    = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled = true
    file    = "${params.outdir}/timeline_report.html"
}

trace {
    enabled = true
    file    = "${params.outdir}/trace.txt"
    fields  = 'task_id,hash,name,status,exit,cpus,memory,time,duration,%cpu,%mem,peak_rss'
}
