params {
    manifest_pos  = null
    manifest_neg  = null
    params_pos    = null
    params_neg    = null
    tool_name     = 'msdial-console'
    outdir        = 'results'
    msdial_binary = '/hpc/mydata/anthony.goering/opt/msdial4/MsdialConsoleApp'

    // Annotation pipeline
    run_annotation       = false
    mist_cf_dir          = '/hpc/mydata/anthony.goering/opt/mist-cf'
    mist_cf_model        = '/hpc/mydata/anthony.goering/opt/mist-cf/quickstart/models/mist_cf_best.ckpt'
    mist_cf_fast_model   = '/hpc/mydata/anthony.goering/opt/mist-cf/quickstart/models/fast_filter_best.ckpt'
    mist_cf_instrument   = 'Orbitrap (LCMS)'
    mist_cf_ppm          = 5
    sirius_decomp_binary = '/hpc/mydata/anthony.goering/opt/sirius/bin/sirius'
    diffms_repo          = '/home/anthony.goering/repos/DiffMS'
    diffms_checkpoint    = null
    diffms_samples       = 10
}

process {
    withLabel: 'process_high' {
        cpus   = 16
        memory = '64.GB'
        time   = '12.h'
    }
    withLabel: 'process_low' {
        cpus   = 2
        memory = '4.GB'
        time   = '1.h'
    }
    withLabel: 'process_medium' {
        cpus   = 8
        memory = '16.GB'
        time   = '2.h'
    }
    withLabel: 'process_gpu' {
        cpus   = 4
        memory = '32.GB'
        time   = '4.h'
        queue  = 'gpu'
        clusterOptions = '--gres=gpu:1'
    }
}

profiles {

    standard {
        // Local HPC: bare-metal SLURM, no container
        process.executor    = 'slurm'
        process.queue       = 'cpu'
        apptainer.enabled   = false
        params.conda_init   = 'source /hpc/apps/anaconda/25.3.1/etc/profile.d/conda.sh'
    }

    apptainer {
        // Local HPC with Apptainer containers
        process.executor     = 'slurm'
        process.queue        = 'cpu'
        apptainer.enabled    = true
        apptainer.autoMounts = true
        apptainer.runOptions = '--bind /hpc'

        // Per-process containers
        process {
            withName: 'MSDIAL_.*'         { container = "${projectDir}/containers/msdial.sif" }
            withName: 'STANDARDIZE'       { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'SEARCH_.*'         { container = "${projectDir}/containers/msknit.sif" }
            withName: 'MSKNIT_.*'         { container = "${projectDir}/containers/msknit.sif" }
            withName: 'MIST_CF_.*'        { container = "${projectDir}/containers/mist-cf.sif" }
            withName: 'PYCUTTER_.*'       { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'PREPARE_DIFFMS'    { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'MERGE_.*'          { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'ANNOTATE_.*'       { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'BUILD_PSEUDO.*'    { container = "${projectDir}/containers/pipeline-tools.sif" }
        }

        // Container-relative paths
        params.msdial_binary     = '/opt/msdial/MsdialConsoleApp'
        params.msknit_binary     = '/usr/local/bin/msknit'
        params.mist_cf_dir       = '/opt/mist-cf'
        params.mist_cf_model     = '/opt/mist-cf/quickstart/models/mist_cf_best.ckpt'
        params.mist_cf_fast_model = '/opt/mist-cf/quickstart/models/fast_filter_best.ckpt'
        params.sirius_decomp_binary = '/opt/sirius/bin/sirius'
        params.pycutter_dir      = '/opt/pycutter'
    }

    docker {
        // Docker (local dev or CI)
        docker.enabled = true

        process {
            withName: 'MSDIAL_.*'         { container = 'ghcr.io/your-org/rapid-qc-ms/msdial:latest' }
            withName: 'SPECTRAL_SEARCH'   { container = 'ghcr.io/your-org/rapid-qc-ms/msknit:latest' }
            withName: 'MSKNIT'            { container = 'ghcr.io/your-org/rapid-qc-ms/msknit:latest' }
            withName: 'MIST_CF_.*'        { container = 'ghcr.io/your-org/rapid-qc-ms/mist-cf:latest' }
            withName: 'PYCUTTER_.*'       { container = 'ghcr.io/your-org/rapid-qc-ms/pipeline-tools:latest' }
            withName: 'PREPARE_DIFFMS'    { container = 'ghcr.io/your-org/rapid-qc-ms/pipeline-tools:latest' }
            withName: 'MERGE_.*'          { container = 'ghcr.io/your-org/rapid-qc-ms/pipeline-tools:latest' }
            withName: 'ANNOTATE_.*'       { container = 'ghcr.io/your-org/rapid-qc-ms/pipeline-tools:latest' }
            withName: 'BUILD_PSEUDO.*'    { container = 'ghcr.io/your-org/rapid-qc-ms/pipeline-tools:latest' }
        }

        params.msdial_binary     = '/opt/msdial/MsdialConsoleApp'
        params.msknit_binary     = '/usr/local/bin/msknit'
        params.mist_cf_dir       = '/opt/mist-cf'
        params.mist_cf_model     = '/opt/mist-cf/quickstart/models/mist_cf_best.ckpt'
        params.mist_cf_fast_model = '/opt/mist-cf/quickstart/models/fast_filter_best.ckpt'
        params.sirius_decomp_binary = '/opt/sirius/bin/sirius'
        params.pycutter_dir      = '/opt/pycutter'
    }

    aws {
        // AWS ParallelCluster: SLURM + Apptainer
        process.executor     = 'slurm'
        process.queue        = 'compute'
        apptainer.enabled    = true
        apptainer.autoMounts = true

        process {
            withName: 'MSDIAL_.*'         { container = "${projectDir}/containers/msdial.sif" }
            withName: 'SPECTRAL_SEARCH'   { container = "${projectDir}/containers/msknit.sif" }
            withName: 'MSKNIT'            { container = "${projectDir}/containers/msknit.sif" }
            withName: 'MIST_CF_.*'        { container = "${projectDir}/containers/mist-cf.sif" }
            withName: 'PYCUTTER_.*'       { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'PREPARE_DIFFMS'    { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'MERGE_.*'          { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'ANNOTATE_.*'       { container = "${projectDir}/containers/pipeline-tools.sif" }
            withName: 'BUILD_PSEUDO.*'    { container = "${projectDir}/containers/pipeline-tools.sif" }
        }

        params.msdial_binary     = '/opt/msdial/MsdialConsoleApp'
        params.msknit_binary     = '/usr/local/bin/msknit'
        params.mist_cf_dir       = '/opt/mist-cf'
        params.mist_cf_model     = '/opt/mist-cf/quickstart/models/mist_cf_best.ckpt'
        params.mist_cf_fast_model = '/opt/mist-cf/quickstart/models/fast_filter_best.ckpt'
        params.sirius_decomp_binary = '/opt/sirius/bin/sirius'
        params.pycutter_dir      = '/opt/pycutter'
    }

    local {
        // Head-node testing, no SLURM
        process.executor    = 'local'
        apptainer.enabled   = false
    }
}

manifest {
    name            = 'msdial-console-pipeline'
    author          = 'Anthony Goering'
    description     = 'LC-MS metabolomics feature detection with MS-DIAL Console'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=24.04.0'
    version         = '0.1.0'
}

report {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/pipeline_report.html"
}

timeline {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/timeline_report.html"
}

trace {
    enabled   = true
    overwrite = true
    file      = "${params.outdir}/trace.txt"
    fields    = 'task_id,hash,name,status,exit,container,cpus,memory,time,duration,%cpu,%mem,peak_rss'
}
